.sidrbar-1{width: 70px;
               height: 150px;
               position: fixed;
               left: 10px;
               top: 62%;
               z-index: 20;
               transform: scale(.8);
               }      
    .sidrbar-1 ul li{width: 70px;
                     height: 70px;
                     background:#FB966E;
                     float: left;
                     border-radius: 27%;
                     transform: scale(.8);
                     margin: -1px 0;
                     transition: .2s;
                     }

     .icon {width: 100%; 
          height: 100%;
          transform: scale(.5);
          color: #fff;
          transition: .3s;
     }
      .icon:hover{transform: scale(.6); color: #1B813E;}     
    .draft{width: 0px;
           height: 70px;
           background: #51A8DD;
           position: relative;
           left: 100px;
           top: -75px;
           z-index: 50px;
           transition: .4s;
           border-radius: 20px;
           overflow: hidden;
           animation: ap 3s ;
          }  
    .draft h3{line-height: 70px;
              text-align: center;
              color: #fff;
              font-size: 19px;
              }   
    @keyframes ap {
       0%{width: 0;}
       20%{width: 600px;}
       80%{width: 600px;}
       100%{width: 0;}
    }             
    .content{width:500px;
             height: 70px;
             position: relative;
            left: 70px;
            top: -75px;
            z-index: 50px; 
            transition: .5s;
            border-radius: 20px;
            display: none;}               
    .content-box:hover .content{display: block;} 
    .draft-box:hover .draft{width: 600px;}   
        .content ul li{width:70px;
                      height: 70px;
                      margin: 0;s
                      border-radius: 0px;
                        }
        .content-box:hover{border-radius: 0;transition: .2s;}            
       .wx-pic{width: 0px;
             height: 250px;
             position: absolute;
             top: -180px;
             left: 250px;
              transition: .5s;
              overflow: hidden;
            transform: scale(1.5);} 
        .qq-pic {width: 0px;
             height: 250px;
             position: absolute;
             top: -180px;
             left: 170px;
              transition: .5s;
             overflow: hidden;
           transform: scale(1.5);} 
         .qq-pic img,   .wx-pic img{width: 100%;
                                    height: 100%;}    
         .qq img,   .wx img{width: 100%;
                                    height: 100%;
                                    border-radius: 10px;}                                   
    .wx:hover .wx-pic{width: 200px;transition: .5s;} 
    .qq:hover .qq-pic{width: 200px;transition: .5s;} 
    .sidrbar-2{width: 75px;
               height: 75px;
               background: #58B2DC;
               position: fixed;
               left: 10px;
               top: 79%;
               z-index: 20; 
               border-radius: 27%;
                     transform: scale(.7);
           } 